$lightGrey:#d3d3d3;
$grey:#a5a5af;
$darkerGrey:#64676b;
$white:white;

$captionColorTable:#e2d1d1;

$space:1em;
$bigSpace:2em;
$thead:1.6em;
$textFont:'Roboto', sans-serif;
$titleFont:'Lobster', sans-serif;